body{
        background-color: rgb(234, 156, 204);
}
.container{
    display:flex;
    justify-content: center;
}
.form_container{
    margin-top: 20px;
    width: 80vw;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input, select{
    padding:15px;
    display: flex;
    width: 40vw;
    border-radius: 5px;
    border:1px solid #870997;
}
form button{
    padding:15px;
    background-color: #870997;
    color:white;
    border-radius: 7px;
    cursor: pointer;

}
button {
    margin: 10px;
    padding: 8px 16px;
    width: 18vw;
    background-color: #870997;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    
        background-color:  rgb(234, 156, 204);
        color: #870997;
        }
table{
    width:100%;
    margin-top: 20px;
}
 th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
 th {
            background-color:  #870997;
            color: #fff;
        }
